  <!-- <%= render 'layouts/navbar' %>
<h1>My Rewards</h1>

<% @user_rewards.each do |user_reward| %>
    <div class="user_reward">
      <h3><%= user_reward.reward.name %>: <%= user_reward.reward.value %></h3>

    </div>
<% end %> -->
