  <%= render 'layouts/navbar' %>
<h1>Rewards Shop</h1>

<% @rewards.each do |reward| %>
    <div class="reward">
      <%= reward.name%>: <%= reward.value %>

      <%= link_to "Purchase"  %>
    </div>
<% end %>
