  <%= render 'layouts/admin_navbar' %>
<h1> Admin Users Index </h1>

<table style="width:90%, text-align:left">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Points</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.username, admin_user_path(user) %></td>
    <td> <%= user.total_points %> points</td>
  </tr>
    <% end %>
</table>
