<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul>
        <li><%= link_to "Users Index", admin_users_path %></li>
        <li><%= link_to "Rewards Shop", admin_rewards_path %></li>
        <li><%= link_to "PointBox Home", user_path(@user)  %></li>
        <li><%= link_to "Rewards Shop", user_rewards_path(@user), method: :get %></li>
    </ul>
  </div>
</nav>
